<!-- {% load static %} -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML</title>
    <!-- <link rel='stylesheet' type='text/css' href="{% static 'style.css' %}"/>
    <script type="text/javascript" src="{% static 'script.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap Javascript(jQuery含む) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

  <body>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">タグ検索サイト</h1>
          <form action="", method="POST">
            <label class="col-5">最適化したい単語を入力してください。</label>
            <div class="input-group col-5">
            {% csrf_token %}
              <input type="text" class="form-control" id="input_word", name="input_word">
              <input type="submit">
              <span class="input-group-btn">
                <button type="button" onclick="clickBtn()" class="btn btn-primary">検索</button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive col-5">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr>
              <th>no</th>
              <th>tags</th>
              <th>tagNm</th>
            </tr>
          </tbody>
          <tbody id='tagTbody'>
          </tbody>
        </table>
      </div>
      <h2>tags</h2>
      <!-- URLコピー用 -->
      <p id='tags'></p>
      <p>{{tags}}</p>

      <script>
    
        // 取得結果を整形する
        // @param data

        // var tags3 = JSON.parse("{{tags | safe}}");
        

        // {% autoescape off %}
        var tags = "{{tags | safe}}";
        console.log('data:' + tags);
        var title = {{title | safe}};
        console.log('data:' + title);
        // {% endautoescape %}
        // var data = JSON.parse("{{ data | safe }}");
        // var data = eval("{{ data | safe }}");
        // console.log('data:' + data);
        function format(data) {
            // タイトル&概要
            data.title.forEach(function(element, index){
              console.log('Index:' + index);
              console.log('Element:' + element);
              data.description.forEach(function(element2, index2){
                console.log('Index:' + index2);
                console.log('Element:' + element2);
                if(index == index2){
                  var no = 1;
                  no += index;
                  $('#titleTbody').append('<tr><td>' + no + '</td><td>'+ element +'</td><<td><font size="1">' 
                    + element2.replace(/(\r\n|\n|\r)/gm, '<br>') + '</font></td></tr>');
                }
              });
            });
            // url
            $('#url').text('url:' + data.url);
            // タグ
            data.tags.forEach(function(element, index){
              console.log('Index:' + index);
              console.log('Element:' + element);
              data.tagNum.forEach(function(element2, index2){
                console.log('Index:' + index2);
                console.log('Element:' + element2);
                if(index == index2){
                  var no = 1;
                  no += index;
                  $('#tagTbody').append('<tr><td>' + no + '</td><td>' + element +'</td><<td>' + element2 + '</td></tr>');
                }
              });
            });
          }
      </script>
  </body>
</html>